# Dependencies
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
out/

# Local env
.env
.env.*.local

# Logs & debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Testing
coverage/

# Editor & OS
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/*
!.vscode/extensions.json

# Vite
*.local

# TypeScript
*.tsbuildinfo

# Misc (from GitHub template)
*.pem
.vercel
